<div class="messages">
  <div *ngFor="let message of messages">
    <span>{{message.text | translate:message.params}}</span>
  </div>
</div>

<form [formGroup]="form">
  <div id="translations" formGroupName="translations">
    <div id="title">
      <label class="center-block">
        Title: <input class="form-control" formControlName="title"/>
      </label>
    </div>

    <div id="description">
      <label class="center-block">
        Description: <input class="form-control" formControlName="description"/>
      </label>
    </div>
  </div>

  <div id="question-blocks" formArrayName="questionBlocks">
    <div *ngFor="let questionBlock of questionBlocks.controls; let i = index" [formGroupName]="i">
      <label>Question Block {{i}}</label>
      <div formArrayName="questions">
        <div *ngFor="let question of questionBlock.controls.questions.controls; let i = index" [formGroupName]="i">
          <label>Question {{i}}</label>
          <div id="question">
            <label class="center-block">
              Question: <input class="form-control" formControlName="question"/>
            </label>
          </div>
          <div id="type">
            <label class="center-block">
              Type: <input class="form-control" formControlName="type"/>
            </label>
          </div>
          <div id="answer">
            <label class="center-block">
              Answer: <input class="form-control" formControlName="answer"/>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" (click)="validate()">Validate</button>
</form>
